@font-face{
    font-family:'icomoon';
    src:url(/public/nfonts/icomoon.eot?xvyl5q);
    src:url(/public/nfonts/icomoon.eot?xvyl5q#iefix) format("embedded-opentype"),url(/public/nfonts/icomoon.woff2?xvyl5q) format("woff2"),url(/public/nfonts/icomoon.ttf?xvyl5q) format("truetype"),url(/public/nfonts/icomoon.woff?xvyl5q) format("woff"),url(/public/nfonts/icomoon.svg?xvyl5q#icomoon) format("svg");
    font-weight:400;
    font-style:normal
}
[class^="icon-"],[class*=" icon-"]{
    font-family:'icomoon'!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-yz:before{
    content:"\9d001"
}
.icon-wx:before{
    content:"\9d002"
}
.icon-nm:before{
    content:"\9d003"
}
.icon-ts:before{
    content:"\9d004"
}
.icon-rq:before{
    content:"\9d005"
}
.icon-po:before{
    content:"\9d006"
}
.icon-ikj:before{
    content:"\9d007"
}
.icon-trs:before{
    content:"\9d008"
}
.icon-lk:before{
    content:"\9d009"
}
.icon-dc:before{
    content:"\9d010"
}
.icon-fde:before{
    content:"\9d011"
}
.icon-oqp:before{
    content:"\9d012"
}
.icon-wyx:before{
    content:"\9d013"
}
.icon-ba:before{
    content:"\9d014"
}
.mobilesv{
    font-size:11px;
    color:#000;
    padding:0 1px;
    letter-spacing:.6px;
    font-weight:700
}
.comptel .mobilesv{
    font-weight:400;
    font-size:10px
}
.comptel{
    white-space:nowrap
}
.comp-contact .icon-valplus{
    font-size:8px
}
.icon-oqp{
    font-size:1px;
    position:relative;
    top:-4px
}
.rstocnct .mobilesv{
    font-size:12px;
    color:#fff;
    padding:0 1px;
    letter-spacing:.9px
}
.rstocnct .icon-oqp{
    font-size:1px;
    position:relative;
    top:-4px
}
.rstocnct .icon-fde{
    font-size:10px
}
.store-details .mobilesv{
    font-size:11px;
    color:#424242;
    font-weight:400
}
.store-details p.contact-info span.mobilesv{
    margin:0
}
.store-details .icon-oqp{
    font-size:1px
}
.store-details .icon-fde{
    font-size:8px
}
.jdtlphntxt .mobilesv{
    font-size:10px;
    color:#424242;
    font-weight:400
}
.jdtlphntxt .icon-oqp{
    font-size:1px
}
.jdtlphntxt .icon-fde{
    font-size:8px
}
.jdtlphntxt .mobilesv{
    letter-spacing:.5px
}
.compdt .mobilesv{
    font-size:10px;
    color:#424242;
    font-weight:400
}
.compdt .icon-oqp{
    font-size:1px
}
.compdt .icon-fde{
    font-size:8px
}
 
